<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ description }}" />

    <title>Called to Serve | {{ title }}</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- favicons -->
    <!-- scripts -->
</head>

<body>
    <div class="site-banner-wrapper">
        <div class="large-banner site-banner site-banner-left" style="background-image: url('/img/banner.jpg')"></div>
        <div class="large-banner site-banner" style="background-image: url('/img/banner.jpg')"></div>
        <div class="large-banner site-banner site-banner-right" style="background-image: url('/img/banner.jpg')"></div>
        <img src="/img/logo.svg" alt="logo" class="logo" />
    </div>

    {{> nav }}
